.orders *[ng-view] {
  > ul {
    @extend .list-unstyled;

    > li {
      margin-top: 15px;

      &:first-child {
        margin-top: 0;
      }

      a {
        > div {
          @media (min-width: $screen-sm-min) {
            min-height: 150px;
            border-left: 1px solid $table-border-color;
            overflow: hidden;
          }

          &:first-child {
            border-left: 0;
          }

          ul {
            @extend .list-unstyled;

            li {
              margin-bottom: 15px;
            }
          }

          &.order-status {
            p {
              @media (min-width: $screen-sm-min) {
                line-height: 150px;
              }
            }
          }

        }

        & + .order-details {
          .row {
            clear: both;
          }

          ul {
            @extend .list-unstyled;

            li {
              &:nth-child(4n + 1) {
                @media (min-width: $screen-sm-min) {
                  clear: left;
                }
              }
            }
          }
        }
      }
    }
  }
}