$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

div[role="main"] {
  margin-top: 65px;

  .bordered {
    border: 1px solid $table-border-color;
    border-radius: $border-radius-large;
  }
}

@import "orders";
@import "addresses";