<h1>Olá {{customer.firstName}}, estes são os {{addresses.length}} endereços que você tem</h1>

<ul class="row">
    <li class="col-sm-3" ng-repeat="address in addresses">
        <address data-target="#address-details-{{address.id}}" data-toggle="modal" class="address-btn bordered">
            <strong>{{address.name}}</strong><br>
            {{address.address[0]}}<br>
            {{address.address[1]}}<br>
            {{address.city}} - {{address.state}}<br>
            CEP: {{address.zipcode}}
        </address>

        <div class="modal fade" data-show="true" id="address-details-{{address.id}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Endereço</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="id" ng-model="address.name"/>
                            <div class="form-group" ng-class="{'has-feedback': form.name.$touched, 'has-success': !form.name.$error, 'has-error': form.name.$error}">
                                <label for="address-name-{{address.id}}">Nome</label>
                                <input type="text" class="form-control" id="address-name-{{address.id}}" ng-model="address.name" name="name" required>
                            </div>
                            <div class="form-group" ng-class="{'has-feedback': form.zipcode.$touched, 'has-success': !form.zipcode.$error, 'has-error': form.zipcode.$error}">
                                <label for="address-zipcode-{{address.id}}">CEP</label>
                                <input type="text" class="form-control" id="address-zipcode-{{address.id}}" ng-model="address.zipcode" name="zipcode" required regex="\d{5}-\d{3}">
                            </div>
                            <div class="form-group" ng-class="{'has-feedback': form.address1.$touched, 'has-success': !form.address1.$error, 'has-error': form.address1.$error}">
                                <label for="address-address1-{{address.id}}">Endereço</label>
                                <input type="text" class="form-control" id="address-address1-{{address.id}}" ng-model="address.address[0]" name="address1" required>
                            </div>
                            <div class="form-group" ng-class="{'has-feedback': form.address2.$touched, 'has-success': !form.address2.$error, 'has-error': form.address2.$error}">
                                <label for="address-address2-{{address.id}}">Complemento</label>
                                <input type="text" class="form-control" id="address-address2-{{address.id}}" ng-model="address.address[1]" name="address2">
                            </div>
                            <div class="form-group">
                                <label for="address-state-{{address.id}}">Estado</label>
                                <select type="text" class="form-control" id="address-state-{{address.id}}" ng-model="address.state" name="state" required>
                                    <option value="AC">AC</option>
                                    <option value="AL">AL</option>
                                    <option value="AP">AP</option>
                                    <option value="AM">AM</option>
                                    <option value="BA">BA</option>
                                    <option value="CE">CE</option>
                                    <option value="DF">DF</option>
                                    <option value="ES">ES</option>
                                    <option value="GO">GO</option>
                                    <option value="MA">MA</option>
                                    <option value="MT">MT</option>
                                    <option value="MS">MS</option>
                                    <option value="MG">MG</option>
                                    <option value="PA">PA</option>
                                    <option value="PB">PB</option>
                                    <option value="PR">PR</option>
                                    <option value="PE">PE</option>
                                    <option value="PI">PI</option>
                                    <option value="RJ">RJ</option>
                                    <option value="RN">RN</option>
                                    <option value="RS">RS</option>
                                    <option value="RO">RO</option>
                                    <option value="RR">RR</option>
                                    <option value="SC">SC</option>
                                    <option value="SP">SP</option>
                                    <option value="SE">SE</option>
                                    <option value="TO">TO</option>
                                </select>
                            </div>
                            <div class="form-group" ng-class="{'has-feedback': form.city.$touched, 'has-success': !form.city.$error, 'has-error': form.city.$error}">
                                <label for="address-city-{{address.id}}">Cidade</label>
                                <input type="text" class="form-control" id="address-city-{{address.id}}" ng-model="address.city" name="city" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </li>
</ul>