<h1>Olá {{customer.firstName}}, este é seu perfil com a gente...</h1>

<form action="" method="post" class="form-horizontal">
    <input type="hidden" name="id" ng-model="customer.name"/>
    <div class="form-group col-sm-12">
        <label class="radio-inline">
            <input type="radio" name="type" ng-model="customer.type" value="1"> Pessoa física
        </label>
        <label class="radio-inline">
            <input type="radio" name="type" ng-model="customer.type" value="2"> Pessoa jurídica
        </label>
    </div>
    <div ng-if="customer.type == 1">
        <div class="form-group" ng-class="{'has-feedback': form.firstName.$touched, 'has-success': !form.firstName.$error, 'has-error': form.firstName.$error}">
            <label class="col-sm-2" for="profile-firstName">Nome</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="profile-firstName" ng-model="customer.firstName" name="firstName" required>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-feedback': form.lastName.$touched, 'has-success': !form.lastName.$error, 'has-error': form.lastName.$error}">
            <label class="col-sm-2" for="profile-lastName">Sobrenome</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="profile-lastName" ng-model="customer.lastName" name="lastName" required>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-feedback': form.email.$touched, 'has-success': !form.email.$error, 'has-error': form.email.$error}">
            <label class="col-sm-2" for="profile-firstname">E-mail</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="profile-email" ng-model="customer.email" name="email" required>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-feedback': form.taxId.$touched, 'has-success': !form.taxId.$error, 'has-error': form.taxId.$error}">
            <label class="col-sm-2" for="profile-firstname">CPF</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="profile-taxId" ng-model="profile.taxId" name="taxId" required maxlength="12" regex="[0-9]{11}">
            </div>
        </div>
    </div>
    <div ng-if="customer.type == 2">
        <div class="form-group" ng-class="{'has-feedback': form.commonName.$touched, 'has-success': !form.commonName.$error, 'has-error': form.commonName.$error}">
            <label class="col-sm-2" for="profile-commonName">Nome fantásia</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="profile-commonName" ng-model="customer.commonName" name="commonName" required>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-feedback': form.completeName.$touched, 'has-success': !form.completeName.$error, 'has-error': form.completeName.$error}">
            <label class="col-sm-2" for="profile-completeName">Razão social</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="profile-completeName" ng-model="customer.completeName" name="completeName" required>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-feedback': form.email.$touched, 'has-success': !form.email.$error, 'has-error': form.email.$error}">
            <label class="col-sm-2" for="profile-firstname">E-mail</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="profile-email" ng-model="customer.email" name="email" required>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-feedback': form.taxId.$touched, 'has-success': !form.taxId.$error, 'has-error': form.taxId.$error}">
            <label class="col-sm-2" for="profile-firstname">CNPJ</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="profile-taxId" ng-model="profile.taxId" name="taxId" required>
            </div>
        </div>
    </div>

    <button class="btn btn-success pull-right" type="submit">Salvar</button>
</form>