<h1>Olá {{customer.firstName}}, você já fez {{orders.length}} compras com a gente</h1>

<ul class="container-fluid">
    <li ng-repeat="order in orders">
        <a ng-href="#/pedidos/{{order.id}}" class="row">
            <div class="order-info col-md-3 col-sm-4">
                <h2>Pedido: {{order.id}}</h2>
                <p>Realizado em: {{order.created | date:"shortDate"}}</p>
                <p>Entrega prevista em: {{order.shipping.estimatedDate | date:"shortDate"}}</p>
               <p>{{order.price | currency}}</p>
            </div>
            <div class="order-products col-md-6 col-sm-5">
                <ul class="container-fluid">
                    <li ng-repeat="product in order.products" class="col-xs-3"><img ng-src="{{product.image}}" ng-alt="Imagem de {{product.name}}" title="{{product.name}}" class="img-thumbnail"></li>
                </ul>
            </div>
            <div class="order-status col-sm-3">
                <p>{{order.status}}</p>
            </div>
        </a>

        <div class="order-details" ng-if="order.id == currentOrder" ng-include="'/views/order-details.html'" autoscroll >
        </div>
    </li>
</ul>
