<a href="#/pedidos" class="btn close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Pagamento</div>
            <div class="panel-body">
                <p>{{order.billing.creditcard.name}}</p>
                <p>{{order.billing.creditcard.number}} <small>({{order.billing.creditcard.brand}})</small></p>
                <p>{{order.billing.creditcard.instalments.quantity}} &times; {{order.billing.creditcard.instalments.price | currency}}</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Entrega</div>
            <div class="panel-body">
                <p>{{order.shipping.address.name}}</p>
                <p>{{order.shipping.address.address[0]}}<span ng-if="order.shipping.address.address.length > 0"> - {{order.shipping.address.address[1]}}</span></p>
                <p>{{order.shipping.address.city}} - {{order.shipping.address.state}} - {{order.shipping.address.zipcode}}</p>
                <p>Frete: {{order.shipping.cost | currency}}</p>
            </div>
        </div>
    </div>
</div>

<ul class="row">
   <li ng-repeat="product in order.products" class="col-sm-3">
       <img ng-src="{{product.image}}" alt="Image de {{product.image}}" title="{{product.image}}" class="img-responsive"/>
       <h3>{{product.name}}</h3>
       <p>{{product.price | currency}}</p>
   </li>
</ul>